<header>
    <nav>
        <ul>
            <li><a id="siteName" href="../../public/index.html">Reciplay</a></li>
            <li><a class="headerLinks" href="#">Learn</a></li>
            <li><a class="headerLinks" href="../../public/pricing.html">Pricing</a></li>
            <li>
                <div class="signUpBTN" style="width: fit-content;">
                    <span class="before"></span>
                    <span class="btn-content">Sign Up</span>
                    <span class="after"></span>
                </div>
            </li>
        </ul>
    </nav>
</header>